@font-face {
    font-family: 'BallparkWeiner';
    src: url('polices/ballpark.eot');
    src: url('polices/ballpark.eot?#iefix') format('embedded-opentype'), url('polices/ballpark.woff') format('woff'), url('polices/ballpark.ttf') format('truetype'), url('polices/ballpark.svg#BallparkWeiner') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Dayrom';
    src: url('polices/dayrom.eot');
    src: url('polices/dayrom.eot?#iefix') format('embedded-opentype'), url('polices/dayrom.woff') format('woff'), url('polices/dayrom.ttf') format('truetype'), url('polices/dayrom.svg#Dayrom') format('svg');
    font-weight: normal;
    font-style: normal;
}


/* Eléments principaux de la page */

body {
    background-color: RGB(236, 229, 214);
    font-family: 'Trebuchet MS', Arial, sans-serif;
    color: #181818;
}

@media (min-width: 1200px) {
    #bloc_page {
        width: 1200px;
        margin: auto;
    }
}

h1, a {
    font-family: Dayrom, serif;
    font-weight: normal;
    text-transform: uppercase;
}


/* Header Logo domaine */

.img-responsive {
    margin: auto;
}


/* Barre de navigation */

.navbar-default {
    background-color: RGB(236, 229, 214);
}

nav a {
    font-size: 1.2em;
    text-decoration: none;
}

nav a:hover {
    border-bottom: 3px solid #8d0051;
    background-color: RGB(236, 229, 214);
}


/* carousel */

#carousel-example-generic {
    width: 1200px;
    margin: auto;
    margin-bottom: 15px;
}

@media (max-width: 1200px) {
    #carousel-example-generic {
        width: 100%;
    }
}


/* Corps */

h1 {
    font-size: 1.5em;
}

p {
    font-size: 1em;
    line-height: 1.4;
    text-align: justify;
}

.text-justify {
    background-color: RGB(236, 229, 214);
    border: none;
}

.texte-vin-marge {
    margin-right: 40px;
}

.marge-bloc-texte {
    margin-top: 50px;
}

@media (max-width: 400px) {
    .left-block {
        position: relative;
        top: 50%;
        transform: translateY(+60%);
        <br>
    }
}

/* Style des forms */

.radio-inline {
    margin-left: 4%;
}

.form-group {
    padding-top: 25px;
}

/* Style des boutons */

.btn-default {
    background-color: #8d0051;
    color: white;
    margin-top : 25px;
}

.btn-default:hover {
    color: #8d0051;
}

/* style de la carte page contact */

iframe {
    width: 600px;
    height: 350px;
    margin: auto;
}

@media (max-width: 1200px) {
    iframe {
        width: 90%;
        height: auto;
    }
}

/* Footer */

footer p, footer ul {
    font-size: 1em;
}

footer h1 {
    font-size: 1.1em;
}

#partenariats a {
    font-size: 1em;
    text-transform: none;
    color: #8d0051;
    text-decoration: none;
}

footer .btn-default {
    background-color: #8d0051;
    color: white;
    margin-top: 0px;
    margin-left: 40%;
}
